
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div> 

<label for="Add">Add new tasks to the ToDo list :</label> <br />
<a class="btn btn-primary mt-2" asp-action="AddNew">Add New</a>
<br />
<label class="mt-4" for="ViewAll">View all the added items to the To-Do list :</label>
<br />
<a class="btn btn-secondary mt-2" asp-action="ViewAll">View All</a>